.App {
  text-align: center;
  height: 100vh;
}

.TVChartContainer {
  height: 100%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  cursor: pointer;
  position: relative;
}

.select-interval-container {
  position: absolute;
  padding: 12px;
  border-radius: 4px;
  top: 10px;
  background-color: rgb(35, 40, 45);
}

.select-interval-container .header {}